{% extends "core/base.html" %}
{% block content %}
  <div class="card mb-4">
    <div class="card-header">Dashboard</div>
    <div class="card-body">
      {% for group, total in total_collected.items %}
        <p>{{ group }} : {{ total }}</p>
      {% endfor %}
    </div>
  </div>
<br>
  <div class="card mb-4">
    <div class="card-header">Defaulters</div>
    <div class="card-body">
      <table class="table">
        <thead><tr><th>Name</th><th>Amount due</th></tr></thead>
        <tbody>
          {% for row in defaulters  %}
            <tr>
              <td>{{ row.member__first_name }} {{row.member__last_name}}</td>
              <td>{{ row.amount_due }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="card mb-4">
    <div class="card-header">Payment rate by group</div>
    <div class="card-body">
      {% for group_status, taux in participation_rate.items %}
        {% if group_status.1 == 'paid' %}
          <p>{{ group_status.0 }} - <span class="badge bg-success">paid</span> : {{ taux }}</p>
          {% else %}
            <p>{{ group_status.0 }} - <span class="badge bg-danger">unpaid</span> : {{ taux }}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}